---
layout: archive
permalink: /year-archive/
title: "Новини по години"
sidebar:
  nav: "archive"
---

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

{% for year in postsByYear %}
  <a href="#{{ year.name | slugify }}" class="colorful"> {{ year.name }} </a> &nbsp;&nbsp;
{% endfor %}

</br>

{% for year in postsByYear %}
  <h1 id="{{ year.name | slugify }}"class="archive__subtitle">{{ year.name }}</h1>
  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

  {% for month in postsByMonth %}
    <h3 class="archive__subtitle">{{ month.name }}</h2>
      {% for post in month.items %}
        {% include archive-single.html %}
      {% endfor %}
  {% endfor %}
{% endfor %}
